<div class="container">
  <div class="row">
    <div class="main-box">

      <div class="col-xs-12">
        <h1>Privacy Policy</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis sagittis quam. Nunc interdum suscipit laoreet. Proin ac risus a enim feugiat hendrerit. Curabitur a tincidunt sem. Fusce nec laoreet sem. Pellentesque a erat aliquam, pretium lorem quis, hendrerit nibh. Morbi tincidunt orci eget diam luctus venenatis. Aliquam accumsan, erat vel placerat laoreet, ipsum massa pretium dui, id laoreet tellus urna nec augue. Phasellus pellentesque, nunc ac fringilla condimentum, eros lacus facilisis lorem, pharetra ultrices ante elit ut metus. Maecenas eu libero id diam aliquam interdum. Fusce sit amet risus est. Integer elit dui, fermentum laoreet suscipit eu, placerat et arcu. Nullam blandit imperdiet augue nec mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <p>Phasellus ac magna sed lectus dignissim pellentesque et in purus. Suspendisse vulputate, ipsum ut consectetur lacinia, est leo porta neque, id laoreet tortor nulla quis elit. Ut sed malesuada nisl, ut ultrices nibh. Phasellus vestibulum, sem vel tristique volutpat, lectus enim venenatis mi, et vestibulum risus dui non quam. Vivamus elementum metus eget efficitur cursus. Etiam sed porttitor tellus. Aliquam non placerat justo. Proin elit lectus, bibendum sed turpis nec, tincidunt ullamcorper metus. Quisque volutpat posuere vulputate. Maecenas pulvinar felis molestie purus fringilla tempus. Morbi cursus tortor sit amet faucibus gravida. Nam turpis quam, tristique et nulla ut, pulvinar ultricies ipsum. Phasellus diam leo, pharetra sit amet mattis sed, dictum ut sem. Donec fermentum fermentum tristique. Nulla erat urna, efficitur sagittis tempor sed, congue sed arcu. Mauris posuere elit et commodo vehicula.</p>

        <p>Cras posuere tempor sem non semper. Morbi eu elit vitae lectus tristique finibus ut id justo. Nullam consectetur rhoncus mi. Fusce molestie cursus justo, id egestas lacus. Maecenas eu sodales ligula, sit amet maximus arcu. Nulla tortor dolor, aliquet ac arcu in, convallis consequat sem. Suspendisse sit amet efficitur nunc. Integer sed hendrerit velit. Praesent semper nisi purus, eu mattis tortor porttitor et. In fermentum convallis neque. Pellentesque eros justo, molestie sit amet urna id, aliquet accumsan arcu. Aliquam volutpat cursus dictum. Nulla sit amet faucibus nibh. Donec cursus venenatis ligula, sed lacinia augue porttitor ac. Nunc ac pulvinar felis.</p>
      </div>


    </div>
  </div>
</div>